.hidden {
  display: none !important;
}

.row {
  width: 100%;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.column-full,
.column-half {
  width: 100%;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.fl-ai-jc-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-around {
  justify-content: space-around;
}

.day {
  width: 100px;
  height: 75px;
}

.add-entry {
  width: 125px;
  height: 35px;
}

div.column-full.fl-row.space-around {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
